.form {
    margin: 0
}

.field-name {
    margin: 0
}

.field-email {
    margin: 0
}

.field-subject {
    margin: 0
}

.field-message {
    margin: 0
}

.buttons {
    margin: 0
}

.button-submit {
    margin: 0
}

.button-reset {
    margin: 0
}