.footer {
  font-size: var(--text-sm);
  padding: var(--space-2xl) 0;
  padding: 2rem;
  background-color: var(--primary-light);
  background: linear-gradient(to bottom, var(--primary-light) 0%, #fff 60%);
}

.copyright {
  text-align: center;
}

.footer a {
  border-bottom: 1.5px solid transparent;
  font-weight: var(--medium);
}

.footer a:hover {
  border-bottom-color: var(--primary);
  color: var(--primary);
}