.organization-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.organization-item {
  width: 300px;
  margin: 0 auto var(--size-gutter); 
}

.link {}

@media (min-width: 42rem) {
  .organization-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    max-width: var(--size-max-width);
    margin: 0 auto;
    width: 100%;
    gap: var(--size-gutter);
  }

  .organization-item {
    margin: 0;
  }
}