.title {
  font-size: var(--text-title);
  text-align: center;
}

.milestone-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: block;
  max-width: 640px;
}

.milestone-item {
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: flex-start;
}

.milestone-date {
  flex: 0 1 25%;
  align-self: auto;
  text-align: right;
  margin-top: .1rem;
  margin-right: 1rem;
}

.milestone-title {
  flex: 0 1 26rem;
  align-self: auto;
  margin: 0;
  padding-left: 1rem;
  padding-bottom: .5rem;
  border-left: 1px solid #ccc;
  font-size: 1.25rem;
}