:root {
  /* primitives */
  /* font-family */
  --font-sans: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "segoe ui", "helvetica neue", helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  --font-monospace: SFMono-Regular, Menlo, Consolas, Monaco, "Liberation Mono", "Lucida Console", monospace;
  --font-serif: "Iowan Old Style", "Apple Garamond", Baskerville, "Times New Roman", "Droid Serif", Times, "Source Serif Pro", serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  /* palette */
  --white: #fff;
  --black: #000;
  --grey: hsl(0, 0%, 50%);
  --black-fade-50: rgba(0, 0, 0, 0.5);
  --black-fade-5: rgba(0, 0, 0, 0.05);
  --primary-light: hsl(283 42% 61%);
  --primary: hsl(282 57% 33%);
  --primary-faded: hsl(282 57% 33% / 0.05);
  --primary-dark: hsl(282 51% 15%);
  --primary-dark-faded: hsl(282 51% 15% / 0.03);
  --secondary: hsl(355 80% 41%);

  /* radii */
  --radius-sm: 2px;
  --radius-md: 4px;
  --radius-lg: 6px;

  /* spacing */
  --space-sm: 4px;
  --space-md: 8px;
  --space-lg: 16px;
  --space-xl: 20px;
  --space-2xl: 24px;
  --space-3xl: 48px;

  /* line-height */
  --solid: 1;
  --dense: 1.25;
  --default: 1.5;
  --loose: 1.75;

  /* font-weight */
  --light: 300;
  --body: 400;
  --medium: 500;
  --semibold: 600;
  --bold: 700;
  --extrabold: 800;
  --heavy: 900;

  /* font-size */
  --text-sm: .875rem;
  --text-md: 1rem;
  --text-lg: 1.125rem;


  --text-2xl: 1.25rem;
  --text-3xl: 32px;
  --text-4xl: 48px;
  --text-5xl: 64px;
  --text-6xl: 76px;

  /* tokens */
  /* colors */
  --background: var(--white);
  --border: var(--black-fade-5);

  /* text */
  /* color */
  --text-color: var(--black);
  --text-color-light: var(--black-fade-50);
  /* size */
  --text-lead: 1.125rem;
  --text-prose: var(--text-md);
  --text-title: var(--text-3xl);
  /* tracking */
  --text-prose-tracking: -0.011em;

  /* size */
  --size-gutter: var(--space-2xl);
  --size-logo: var(--space-2xl);
  --size-max-width: 90rem;
}

@media (min-width: 480px) {
  :root {
    --size-gutter: var(--space-3xl);
  }
}

@media (min-width: 42rem) {
  :root {
    --text-lead: var(--text-2xl);
    --text-title: var(--text-4xl);
    --text-prose-tracking: -0.014em;
    --text-prose: var(--text-lg);
  }
}